<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key ="connectionstring" value="Server=217.169.41.10; database=LeoSummerSchool; integrated security=false; user id=leosummer ; password=leosummer" />
        <add key ="bckupconnectionstring" value="Server=217.169.41.11; database=LeoSummerSchool; integrated security=false; user id=sa ; password=requirements" />
    </appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
